
<h1>{{ resourcesName }} list</h1><br/><br/><br/>
<div align="right"><a href="#/{{ resourcesName }}/add">
    <button type="button" class="btn btn-primary">Add a {{ resourceName }}</button></a></div><br/><br/><span ng-switch="resourceList.length"><span ng-switch-when="0">
    <ng-include src="'Content/templates/none_message.html'"></ng-include></span>
  <div ng-switch-default="ng-switch-default" class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="field in fields">{{ field | uppercase }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="resource in resourceList">
          <td ng-repeat="field in resource">{{ field }}</td>
          <td><a href="#/{{ resourcesName }}/detail/{{ resource.id }}">Detail</a></td>
        </tr>
      </tbody>
    </table>
  </div></span>