doctype html
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Project
    link(rel='stylesheet', type='text/css', href='Content/styles/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='Content/styles/bootstrap-theme.css')
    link(rel='stylesheet', type='text/css', href='Content/styles/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='Content/styles/signin.css')
    link(rel='stylesheet', type='text/css', href='Content/styles/dashboard.css')
    script(type='text/javascript', src='Content/scripts/angular.js')
    script(type='text/javascript', src='Content/scripts/ui-bootstrap.js')
    script(type='text/javascript', src='Content/scripts/angular-ui-router.js')
    script(type='text/javascript', src='Content/scripts/statehelper.js')
    script(type='text/javascript', src='Content/scripts/angular-resource.js')
    script(type='text/javascript', src='Content/scripts/lodash.js')
    script(type='text/javascript', src='Content/scripts/app.js')
    script(type='text/javascript', src='Content/scripts/services.js')
    script(type='text/javascript', src='Content/scripts/controllers.js')

  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li(ng-if='isAuth')
              a(ng-href='/#/users/detail/{{ authId }}') Hello {{ authFirstName }}!
            li(ng-if='isAuth')
              a(ui-sref='root.logout') Logout
            li(ng-if='!isAuth')
              a(ui-sref='root.login') Login
            li
              a(ui-sref='root.about') About
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar(ng-if='sidebar')
            li(ng-repeat='c in sidebar' ui-sref-active='active')
              a(ui-sref='{{ c.state }}')
                span(class='{{ c.icon }}')
                span  {{ c.name }}
          h4.sub-header $state info
            small  debug
          dl
            dt current
            dd {{ $state.current.name }}
          dl
            dt url
            dd {{ $state.$current.url.source }}
          dl
            dt params
            dd {{ $state.params | json }}

        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          ui-view
