<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project</title>
    <link rel="stylesheet" type="text/css" href="Content/styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="Content/styles/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="Content/styles/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="Content/styles/signin.css">
    <link rel="stylesheet" type="text/css" href="Content/styles/dashboard.css">
    <script type="text/javascript" src="Content/scripts/angular.js"></script>
    <script type="text/javascript" src="Content/scripts/ui-bootstrap.js"></script>
    <script type="text/javascript" src="Content/scripts/angular-ui-router.js"></script>
    <script type="text/javascript" src="Content/scripts/statehelper.js"></script>
    <script type="text/javascript" src="Content/scripts/angular-resource.js"></script>
    <script type="text/javascript" src="Content/scripts/lodash.js"></script>
    <script type="text/javascript" src="Content/scripts/FileSaver.js"></script>
    <script type="text/javascript" src="Content/scripts/xml2json.js"></script>
    <script type="text/javascript" src="Content/scripts/app.js"></script>
    <script type="text/javascript" src="Content/scripts/services.js"></script>
    <script type="text/javascript" src="Content/scripts/controllers.js"></script>
  </head>
  <body>
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span></button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-if="isAuth" ng-switch="authType"><a ng-switch-when="0" ng-href="/#/suppliers/detail/{{ authId }}">Hello {{ authFirstName }}!</a><a ng-switch-when="1" ng-href="/#/admins/detail/{{ authId }}">Hello {{ authFirstName }}!</a></li>
            <li ng-if="isAuth"><a ui-sref="root.logout">Logout</a></li>
            <li ng-if="!isAuth"><a ui-sref="root.login">Login</a></li>
            <li><a ui-sref="root.about">About</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul ng-if="sidebar" class="nav nav-sidebar">
            <li ng-repeat="elem in sidebar" ui-sref-active="active"><a ui-sref="{{ elem.state }}"><span class="{{ elem.icon }}"></span><span> {{ elem.name }}</span></a></li>
          </ul><span ng-if="debug">
            <h4 class="sub-header">$state info<small> debug</small></h4>
            <dl>
              <dt>name</dt>
              <dd>{{ $state.current.name }}</dd>
            </dl>
            <dl>
              <dt>url</dt>
              <dd>{{ $state.$current.url.source }}</dd>
            </dl>
            <dl>
              <dt>params</dt>
              <dd>{{ $state.params | json }}</dd>
            </dl>
            <h4 class="sub-header">auth data<small> debug</small></h4>
            <dl>
              <dt>userId</dt>
              <dd>{{ authId }}</dd>
            </dl>
            <dl ng-if="authType==0">
              <dt>supplierId</dt>
              <dd>{{ authSupplierId }}</dd>
            </dl></span>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <ui-view></ui-view>
        </div>
      </div>
    </div>
  </body>
</html>