h1 {{ resourcesName }} list
br
br
br

div(align='right')
  a(href='#/{{ resourcesName }}/add')
    button(type='button', class='btn btn-primary') Add a {{ resourceName }}

br
br

span(ng-switch='resourceList.length')
  span(ng-switch-when='0')
    ng-include(src='\'Content/templates/none_message.html\'')

  div(ng-switch-default, class='table-responsive')
    table(class='table table-striped table-hover')
      thead
        tr
          th(ng-repeat='field in fields') {{ field | uppercase }}
          th
      tbody
        tr(ng-repeat='resource in resourceList')
          td(ng-repeat='field in resource') {{ field }}
          td
            a(href='#/{{ resourcesName }}/detail/{{ resource.id }}') Detail
