h1.page-header About
p This project is developed for exam of <em>Software Engineering</em> and is realized with AngularJS and C# .NET MVC3

h2.sub-header Credits
p Antonio Esposito
p Michele Sorcinelli
