h1.page-header Admin home page

h2.sub-header Actions
ul
  li
    a(ui-sref='root.admins.add') Add an admin
    a(ui-sref='root.suppliers.add') Add a supplier
    a(ui-sref='root.categories.add') Add a product category
