h1.page-header Export catalog

p Your catalog includes:
ul
  li {{ productsCount }} products
  li {{ stocksCount }} stocks

a(ng-click='export(authId)')
  button.btn.btn-primary(type='button')
    span Export catalog
