h1.page-header Export catalog

p Your catalog includes:
ul
  li {{ productsCount }} product(s)
  li {{ stocksCount }} stock(s)

a(ng-click='export()')
  button.btn.btn-primary(type='button')
    span Export catalog
