h1.page-header Login

form.form-signin(ng-submit='login(credentials)', novalidate, role='form')
  h2.form-signin-heading Please sign in
  input.form-control(ng-model='credentials.email', type='email', placeholder='Email address', required='', autofocus='')
  input.form-control(ng-model='credentials.password', type='password', placeholder='Password', required='')
  br
  button.btn.btn-md.btn-primary.btn-block(type='submit') Sign in

p {{ msg }}
br
br
pre credentials = {{ credentials | json }}
pre master = {{ master | json }}
pre sidebar = {{ sidebar | json }}
