
<h1 class="page-header">Login</h1>
<form ng-submit="login(credentials)" novalidate="novalidate" role="form" class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input ng-model="credentials.email" type="email" placeholder="Email address" required="" autofocus="" class="form-control"/>
  <input ng-model="credentials.password" type="password" placeholder="Password" required="" class="form-control"/><br/>
  <button type="submit" class="btn btn-md btn-primary btn-block">Sign in</button>
</form>
<p>{{ msg }}</p><br/><br/>
<pre>credentials = {{ credentials | json }}</pre>
<pre>master = {{ master | json }}</pre>
<pre>sidebar = {{ sidebar | json }}</pre>