
<h1 class="page-header">Login</h1>
<form role="form" class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input ng-model="auth.email" type="email" placeholder="Email address" required="" autofocus="" class="form-control"/>
  <input ng-model="auth.password" type="password" placeholder="Password" required="" class="form-control"/><br/>
  <button ng-click="login(auth)" type="submit" class="btn btn-md btn-primary btn-block">Sign in</button>
</form><br/><br/>
<pre>form = {{ auth | json }}</pre>
<pre>master = {{ master | json }}</pre>