h1.page-header Home

h2.sub-header Actions
ul
  li
    a(ui-sref='root.products.add') Add a new product
  li
    a(ui-sref='root.stocks.add') Add a new product stock
  li
    a(ui-sref='root.catalog') Review and export my catalog
