h1.page-header Add a {{ resourceMeta.name }}

form(novalidate class="form-horizontal" role="form")
  div.form-group
    label(class="col-sm-2 control-label") Name
    div(class="col-sm-10")
      input(ng-model="newResource.name" type="text" class="form-control" placeholder="e.g. Coffee")
      br
  div.form-group
    div(class="col-sm-offset-2 col-sm-10")
      button(ng-click="add(newResource)" type="submit" class="btn btn-primary") Add {{ resourceMeta.name }}


h2.sub-header Angular models
pre form = {{ newResource | json }}
pre master = {{ master | json }}
