h1.page-header
  span(class='fa {{ resourceMeta.icon }}')
  span  {{ resourceMeta.namePlural }} list

div(align='right')
  a(ui-sref='.add')
    button(type='button', class='btn btn-primary') Add a {{ resourceMeta.name }}

span(ng-switch='resourceList.length')
  span(ng-switch-when='0')
    ng-include(src='\'Content/partials/none_message.html\'')

  div(ng-switch-default, class='table-responsive')
    table(class='table table-striped table-hover')
      thead
        tr
          th(ng-repeat='field in fields') {{ field | uppercase }}
          th
      tbody
        tr(ng-repeat='r in resourceList')
          td(ng-repeat='field in r') {{ field }}
          td
            a(ui-sref='.detail({id: r.id})') Detail
          td
            a.fa.fa-pencil(ui-sref='.edit({id: r.id})')
          td
            a.fa.fa-trash-o(ui-sref='.remove({id: r.id})')
