h1.page-header {{ meta.name }} detail

div(align='right')
  a(ui-sref='root.{{ meta.namePlural }}.edit')
    button.btn.btn-primary(type='button')
      span.fa.fa-pencil
      span  Edit this {{ meta.name }}

dl.dl-horizontal
  span(ng-repeat='field in meta.fields')
    dt {{ field.human }}
    dd {{ field.value }}

span(ng-if='debug' ng-include='\'Content/partials/resource/debug.html\'')
