h1.page-header {{ meta.name }} detail

.text-right
  a(ng-click='editForm()')
    button.btn.btn-primary(type='button')
      span.fa.fa-pencil
      span  Edit this {{ meta.name }}

dl.dl-horizontal
  span(ng-repeat='rf in meta.related_fields')
    span(ng-hide='rf.hide')
      dt {{ rf.human }}
      dd {{ rf[rf.related_model][rf.related_human] }}
  span(ng-repeat='f in meta.fields')
    dt {{ f.human }}
    dd(ng-switch='f.model')
      span(ng-switch-when='price') {{ f.value / 100 | currency: '€' }}
      span(ng-switch-default) {{ f.value }}

span(ng-if='meta.show_sessions')
  h3.sub-header User sessions
  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th Start
          th End
      tbody
        tr(ng-repeat='s in sessions')
          td {{ s.start }}
          td {{ s.end }}

span(ng-if='debug' ng-include='\'Content/partials/resource/debug.html\'')
