
<h1 class="page-header"><span class="{{ meta.icon }}"></span><span> {{ meta.nameHuman }}</span></h1>
<p ng-if="msgSuccess" class="text-success">Info: {{ msgSuccess }}</p>
<p ng-if="msgError" class="text-danger">Error: {{ msgError }}</p>
<div class="text-right"><a ng-click="addForm()">
    <button type="button" class="btn btn-primary"><span class="fa fa-plus"></span><span> Add a {{ meta.name }}</span></button></a></div><br/><span ng-switch="empty"><span ng-switch-when="true">
    <ng-include src="'Content/partials/none_message.html'"></ng-include></span>
  <div ng-switch-when="false" class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="rf in meta.related_fields">{{ rf.human }}</th>
          <th ng-repeat="f in meta.fields">{{ f.human }}</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="res in list">
          <td ng-repeat="rf in meta.related_fields">{{ res[rf.related_model][rf.related_human] }}</td>
          <td ng-repeat="f in meta.fields"><span ng-switch="f.model"><span ng-switch-when="price">{{ res[f.model] / 100 | currency: '€' }}</span><span ng-switch-default="ng-switch-default">{{ res[f.model] }}</span></span></td>
          <td><span ng-switch="res.type"><a ng-switch-when="0" ng-click="detail(res.user_id)" class="btn btn-default btn-sm fa fa-eye"></a><a ng-switch-default="ng-switch-default" ng-click="detail(res.id)" class="btn btn-default btn-sm fa fa-eye"></a></span><span> </span><a ng-click="remove(res.id)" class="btn btn-danger btn-sm fa fa-trash-o"></a></td>
        </tr>
      </tbody>
    </table>
  </div></span><span ng-if="debug" ng-include="'Content/partials/resource/debug.html'"></span>