h1.page-header
  span(class='{{ meta.icon }}')
  span  {{ meta.nameHuman }}

p.text-success(ng-if='msgSuccess') Info: {{ msgSuccess }}
p.text-danger(ng-if='msgError') Error: {{ msgError }}

.text-right
  a(ng-click='addForm()')
    button.btn.btn-primary(type='button')
      span.fa.fa-plus
      span  Add a {{ meta.name }}
br

span(ng-switch='empty')
  span(ng-switch-when='true')
    ng-include(src='\'Content/partials/none_message.html\'')

  .table-responsive(ng-switch-when='false')
    table.table.table-striped.table-hover
      thead
        tr
          th(ng-repeat='rf in meta.related_fields') {{ rf.human }}
          th(ng-repeat='f in meta.fields') {{ f.human }}
          th Actions
      tbody
        tr(ng-repeat='res in list')
          td(ng-repeat='rf in meta.related_fields') {{ res[rf.related_model][rf.related_human] }}
          td(ng-repeat='f in meta.fields')
            span(ng-switch='f.model')
              span(ng-switch-when='price') {{ res[f.model] / 100 | currency: '€' }}
              span(ng-switch-default) {{ res[f.model] }}
          td
            a.btn.btn-default.btn-sm.fa.fa-eye(ng-click='detail(res.id)')
            span 
            a.btn.btn-danger.btn-sm.fa.fa-trash-o(ng-click='remove(res.id)')

span(ng-if='debug' ng-include='\'Content/partials/resource/debug.html\'')
