h1.page-header
  span(class='fa {{ meta.icon }}')
  span  {{ meta.namePlural }} list

div(align='right')
  a(ui-sref='root.{{ meta.namePlural }}.add')
    button.btn.btn-primary(type='button')
      span.fa.fa-plus
      span  Add a {{ meta.name }}

span(ng-switch='list.length')
  span(ng-switch-when='0')
    ng-include(src='\'Content/partials/none_message.html\'')

  div(ng-switch-default, class='table-responsive')
    table(class='table table-striped table-hover')
      thead
        tr
          th(ng-repeat='field in meta.fields') {{ field | uppercase }}
          th Actions
      tbody
        tr(ng-repeat='r in list')
          td(ng-repeat='field in r') {{ field }}
          td
            a.fa.fa-eye(ui-sref='root.{{ meta.namePlural }}.detail({id: r.id})')
            span 
            a.fa.fa-pencil(ui-sref='root.{{ meta.namePlural }}.edit({id: r.id})')
            span 
            a.fa.fa-trash-o(ng-click='remove($id)')
