h1.page-header
  span(class='{{ meta.icon }}')
  span  {{ meta.nameHuman }} list

p {{ msg }}

div(align='right')
  a(ui-sref='root.{{ meta.namePlural }}.add')
    button.btn.btn-primary(type='button')
      span.fa.fa-plus
      span  Add a {{ meta.name }}
br

span(ng-switch='empty')
  span(ng-switch-when='true')
    ng-include(src='\'Content/partials/none_message.html\'')

  div(ng-switch-when='false', class='table-responsive')
    table(class='table table-striped table-hover')
      thead
        tr
          th(ng-repeat='field in meta.fields') {{ field.human }}
          th Actions
      tbody
        tr(ng-repeat='r in list')
          td(ng-repeat='field in meta.fields') {{ r[field.model] }}
          td
            a.fa.fa-eye(ui-sref='root.{{ meta.namePlural }}.detail({id: r.id})')
            span 
            a.fa.fa-pencil(ui-sref='root.{{ meta.namePlural }}.edit({id: r.id})')
            span 
            a.fa.fa-trash-o(ng-click='remove(r["id"])')
